.day {
  box-sizing: initial;
  width: 2ch;
  height: 2ch;
  line-height: 1rem;
  text-align: center;
  border: 4px solid transparent;
  padding: 6px;
  cursor: default;
  font-weight: bold;
  color: gray;

  &.weekDay {
    color: red;
  }
  
  &.currentMonthDay {
    cursor: pointer;
  }

  &.selectedDay {
    border-color: red;
    border-radius: 50%;
  }

  &.otherMonthDay {
    opacity: 0.3;
    cursor: pointer;
  }

  &.hiddenDay {
    opacity:0;
  }
}


