@import 'common/styles/templates';
@import 'common/styles/breakpoints';

.form {
  @extend %form;
  flex-flow: row wrap;

  .inputContainer {
    @media screen and  (min-width: $sm) {
      max-width: 270px;
    }
  }
}

.submit {
  @extend %submitBtn;
  width: 100%;
}

.inlineLink {
  @extend %inlineLink;
  
}