@import '../../common/styles/constants';

.calendarContainer {
  display: flex;
  width: inherit;
  justify-content: space-around;
  min-height: inherit;
  height: 100%;
}

.calendarAppContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: $fontSize;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  width: 100%;
  min-height: 350px;
  background-color: #009991;
  padding: 10px;
  border-radius: $radius;
}
