@import 'common/styles/templates';
@import 'common/styles/breakpoints';
.form {
  @extend %form;
  flex-direction: column;
}

.input {
  flex: 0.5;
  max-width: 50%;
}

.loginHelpers {
  display: flex;
  width: 100%;
  justify-content: space-between;

  & > * {
    font-size: 0.75rem;

  }

  @media screen and (max-width: 380px){
    flex-direction: column;
     & > label + a {
       margin-top: 10px;
     }
  }
}

.submit {
  @extend %submitBtn;
  width: 100%;
}

.inlineLink {
  @extend %inlineLink;
  text-decoration: none;
  text-transform: capitalize;
}