:root {
  --day-font-size: 30px;
  --border-size: 5px;
}

.week-day,
.month-day,
.transparent {
  min-width: calc(var(--day-font-size) + 2*var(--border-size));
  line-height: var(--day-font-size);
  border: var(--border-size) solid transparent;
}

.week-day {
  color: red;
  font-weight: bold;
}

.month-day {
  color: gray;
  cursor: pointer;
}

.transparent {
  opacity: 0;

}

.day-selected {
  border-radius: 50%;
  border-color: red;
}