@import 'common/styles/templates';
@import 'common/styles/constants';

.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $formWidth;
}

.heading {
  @extend %textHeader;
  padding: 0 $formPadding;
  margin-bottom: 20px;
}