@import 'common/styles/templates';
@import 'common/styles/constants';

.container {
  max-width: $formWidth;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  // padding: $formPadding;

}

.heading {
  @extend %textHeader;
  padding: 0 $formPadding;
}

.subHeading {
  text-transform: capitalize;
  padding: 0 $formPadding;
  margin-bottom: 20px;

}