.week-day,
.month-day,
.transparent {
  min-width: 2.65ch;
  border: 3px solid transparent;
}

.week-day {
  color: red;
  font-weight: bold;
}

.month-day {
  color: gray;
  cursor: pointer;
}

.transparent {
  opacity: 0;

}

.day-selected {
  border-radius: 50%;
  border-color: red;
}